/*  =======================  FONTES  =======================  */
/*Populaire*/
@font-face {
    font-family: 'Populaire';
    src: url('fontes/populaire/Populaire.eot');
    src: url('fontes/populaire/Populaire.eot?#iefix') format('embedded-opentype'),
        url('fontes/populaire/Populaire.woff2') format('woff2'),
        url('fontes/populaire/Populaire.woff') format('woff'),
        url('fontes/populaire/Populaire.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Brasilero*/
@font-face {
    font-family: 'Brasilero';
    src: url('fontes/brasilero/Brasilero2018Free-Regular.eot');
    src: url('fontes/brasilero/Brasilero2018Free-Regular.eot?#iefix') format('embedded-opentype'),
        url('fontes/brasilero/Brasilero2018Free-Regular.woff2') format('woff2'),
        url('fontes/brasilero/Brasilero2018Free-Regular.woff') format('woff'),
        url('fontes/brasilero/Brasilero2018Free-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Gotham Light*/
@font-face {
    font-family: 'Gotham';
    src: url('fontes/gotham/light/Gotham-Light.eot');
    src: url('fontes/gotham/light/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('fontes/gotham/light/Gotham-Light.woff2') format('woff2'),
        url('fontes/gotham/light/Gotham-Light.woff') format('woff'),
        url('fontes/gotham/light/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*Gotham Book*/
@font-face {
    font-family: 'Gotham';
    src: url('fontes/gotham/book/Gotham-Book.eot');
    src: url('fontes/gotham/book/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('fontes/gotham/book/Gotham-Book.woff2') format('woff2'),
        url('fontes/gotham/book/Gotham-Book.woff') format('woff'),
        url('fontes/gotham/book/Gotham-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*Gotham Medium*/
@font-face {
    font-family: 'Gotham';
    src: url('fontes/gotham/medium/Gotham-Medium.eot');
    src: url('fontes/gotham/medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('fontes/gotham/medium/Gotham-Medium.woff2') format('woff2'),
        url('fontes/gotham/medium/Gotham-Medium.woff') format('woff'),
        url('fontes/gotham/medium/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*Gotham Bold*/
@font-face {
    font-family: 'Gotham';
    src: url('fontes/gotham/bold/Gotham-Bold.eot');
    src: url('fontes/gotham/bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('fontes/gotham/bold/Gotham-Bold.woff2') format('woff2'),
        url('fontes/gotham/bold/Gotham-Bold.woff') format('woff'),
        url('fontes/gotham/bold/Gotham-Bold.ttf') format('truetype');
    font-weight: 700  ;
    font-style: normal;
    font-display: swap;
}

/*Gotham Black*/
@font-face {
    font-family: 'Gotham';
    src: url('fontes/gotham/black/Gotham-Black.eot');
    src: url('fontes/gotham/black/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('fontes/gotham/black/Gotham-Black.woff2') format('woff2'),
        url('fontes/gotham/black/Gotham-Black.woff') format('woff'),
        url('fontes/gotham/black/Gotham-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




/*  =======================  ESTILOS GERAIS  =======================  */
/*Configurações globais*/
*{
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Subtítulos Gerais*/
.subtitulos {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/*Subtítulos para os subtítulos (Usado principalmente na página de perfil do portfólio)*/
.subsubtitulos{
	font-size: 19px;
	font-weight: 300;
	position: relative;
	bottom: 25px;
}

/*Parágrafos Gerais*/
.paragrafos {
  font-family: "Gotham", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
}
/*Links Gerais (Usado principalmente na página de "Colabore")*/
.linksPadrao{
  color: #0389A6;
}

/*Hover dos links gerais*/
.linksPadrao:hover{
  text-decoration: none;
}

/*Imagens dos links que mudam de cor com Hover (Usado principalmente no portfólio e na página de colaborador)*/
 .linksPadrao:hover{
	filter: brightness(85%);
	transition-duration: 0.1s;
}

/*Legendas Gerais (Usado principalmente na página do DADA)*/
.legendas{
  padding-top: 5px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Gotham", sans-serif;
  font-size: 19px;
  font-weight: 700;
}

/*Trocar a fonte do texto para "Brasileiro" para colocar ênfase em algo*/
.enfase{
  font-family: "Brasilero", sans-serif;
  font-weight: 700;
}

/*Classe que aumenta o espaçamento entre colunas*/
/*
.row-large-gutter {
  margin-left: -30px;
  margin-right: -30px;
}
*/
.row-large-gutter > * {
  padding-left: 30px;
  padding-right: 30px;
}




/*  =======================  HEADER  =======================  */
/*Container do Header*/
.navegacao {
  background-color: #161F25;
  height: 100px;
}

/*Gambiarra para fazer com que o header não seja sobreposto pelo carrossel*/
.navbar{
  z-index: 20;
}

/*Espaçamento entre os itens do header (horizontal e vertical)*/
.navegacaoLinks {
  padding-left: 30px  ;
  padding-top: 12px;
}

/*Links do Header*/
.navegacaoLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Gotham", sans-serif;
  transition: color .2s;
}

/*Transição dos links do Header com hover*/
.navegacaoLinks a:hover {
  color: #0389A6;
  transition-delay: 0.05s;
  transition-timing-function: ease;
}





/*  =======================  MAPINHA DO SITE  =======================  */
/*Container do Mapa do Site*/
.mapinha {
  height: auto;
  padding: 3px 0;
  display: flex;
  align-items: center;
  background-color: #D4E9F6;
  font-family: "Gotham", sans-serif;
  font-size: 15px;
}

/*Espaçamento do Mapa para alinhar-se ao conteúdo*/
.mapinha .container .row {
  padding-left: 30px;
}

/*Links do Mapinha*/
.mapaLink a {
  color: #212121;
  text-decoration: none;
  margin-top: 10px;
}

/*Setas do Mapinha*/
.mapaEspacamento{
  color: #212121;
  padding-right: 20px;
  padding-left: 20px;
  cursor: default;
}

/*Página atual do Mapinha*/
.mapaAtual{
  color: #0389A6;
  font-weight: 900;
  cursor: default;
  line-height: 24px; /*Gambiarra pra alinhar com o .mapaLink*/
}





/*  =======================  CATEGORIAS  =======================  */
/*Container das Categorias*/
.categorias{
  display:flex;
  align-items: center;
}

/*Nomes que ficam embaixo da imagem da categoria*/
.categoriasNome {
  font-family: "Brasilero", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 36px;
}






/*  =======================  GALERIA DE PRODUTOS  =======================  */
/*Elementos da Galeria de produtos (Feito com Flickity) */

/*Background da Galeria*/
.gallery {
  background-image: url("imagens/assets/fundoDADA.png");
}

/*Tamanho e espaçamento de cada item da Galeria*/
.gallery-cell {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin: 20px;
}

/*Drop-Shadow dos produtos da Galeria*/
.gallery-cell img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*CUSTOMIZAÇÃO DOS CONTROLES*/
/*Círculo atrás do botão de "próximo"*/
.flickity-prev-next-button {
  background: transparent;
}
/*Cor da seta*/
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button:disabled {
  display: none;
}
/*Bolinhas do slide atual*/
.flickity-page-dots .dot {
  opacity: 0;
  background: transparent;
}





/*  =======================  PREVIEW MINI DO PRODUTO  =======================  */
/* Caixinha dos produtos utilzado dos carrosseis do flickity (código acima)*/

/*Tirar a decoração dos links dentro da caixinha de Preço/Nome*/
.produtoMini a{
  text-decoration: none;
}

/*Transição para fazer a caixinha aparecer com hover*/
.produtoMini:hover .invisivel {
  visibility: visible;
  opacity: 0.85;
  transition-delay: 0.2s;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

/*Transição pra fazer a caixinha desaparacer*/
.produtoMini:not( :hover ) .invisivel{
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

/*Caixinha com nome e preço dos produtos no Preview Pequeno*/
.invisivel {
  height: 80px;
  width: 250px;
  color: white;
  background: rgba(3, 72, 114);
  visibility: hidden;
  opacity: 0;
  font-family: "Gotham", sans-serif;
  font-style: normal;
  text-align: center;
  position: relative;
  margin: 0;
  bottom: 80px;
}

/*Nome do Produto na caixinha*/
.invisivelNome {
  font-weight: 400;
  font-size: 20px;
  padding-top: 6px;
}

/*Preço do Produto na caixinha*/
.invisivelPreco {
  padding-top: 0;
  font-weight: 700;
  font-size: 24px;
}



/*  =======================  LINK PARA A PÁGINA DE "COLABORE"  =======================  */
/*Container da Caixinha de "VENHA SER DADA"*/
.colaboreAnuncio {
  margin-top: 60px;
}





/*  =======================  FOOTER  =======================  */
/*Container do FOOTER*/
.footer {
  background-color: #161F25;
  margin-top: 60px;
  padding-top: 50px;
  color:white;
}

/*Espaçamento entre as colunas do Footer quando empilhadas horizontalmente*/
.itemFooter{
  padding-bottom: 50px;
}

/*Títulos do Footer*/
.footerLetraMaior{
  font-family: "Populaire", sans-serif;
  font-style: normal;
  font-size: 32px;
  color: white;
  margin-bottom: 6px;
}

/*Texto pequeno do Footer*/
.footerLetraMenor p, .footerLetraMenor a{
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: white;
  margin-block-end: 0;
  margin-block-start: 0;
}

/*Espaçamento entre cada link do Footer*/
.footerLink{
  margin-bottom: 13px;
}

/*Espaçamento entre os ícones e os links*/
.footerLink a {
  padding-left: 8px;
}





/*  =======================  FORMULÁRIO DO FOOTER  =======================  */
/*Caixa de texto do formulário*/
.caixinha{
  border: 0;
  width: 75%;
  height: 20px;
  padding: 0 12px;
  font-size: 13px;
  text-align: left;
  color: black;
  border-radius: 5px;
	font-family: "Gotham", sans-serif;
  margin-bottom: 5px;
}

/*Botão de cadastro do formulário*/
.botaozinho{
  border: 0;
  height: 25px;
  width: 75%;
  font-size: 13px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color:  #0389A6;
	font-family: "Gotham" sans-serif;
  font-weight: 500;
}
.botaozinho:hover {
  background-color: #036A9A;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}




/*  =======================  PÁGINA DE UMA CATERGORIA  =======================  */

/*  =======================  MENU LATERAL  =======================  */
/*Botão de celular para mostrar o menu*/
.sidebarBotao{
	margin-top: 30px;
	font-family: "Gotham", sans-serif;
	font-weight: 500;
  border: 0;
	font-size: 18px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color:  #0389A6;
}

/*Animação do botão de celular*/
.sidebarBotao:hover, .sidebarBotao:focus{
  background-color: #036A9A;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/*Tamanho do dropdown no celular*/
.sidebarCelular{
	width: 75%;
}

/*Estilo do menu em si*/
.sidebarComputador, .sidebarCelular{
	background-color: #0389A6;
	color: white;
	font-family: "Gotham", sans-serif;
	font-weight: 400;
	padding: 16px 0;
	border-radius: 5px;
}

/*Estilo do título (Presente apenas na versão de computador)*/
.sidebarComputador h2{
	padding: 8px 0 8px 16px;
	font-size: 21px;
	font-weight: 900;
}

.sidebarComputador hr, .sidebarCelular hr{
	margin: 0 16px;
	border-color: white;
}

.sidebarComputador ul, .sidebarCelular ul{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.sidebarComputador a, .sidebarCelular a{
	text-decoration: none;
	display: block;
	padding: 8px 0 8px 16px;
	color: white;
}

.sidebarComputador li, .sidebarCelular li{
	margin: 0;
	font-size: 18px;
}

.sidebarComputador li:hover, .sidebarCelular li:hover{
	background-color: #036A9A;
	transition-duration: 0.2s;
  transition-timing-function: ease;
}

.sidebarComputador li:not( :hover ), .sidebarCelular li:not( :hover ){
	background-color: #0389A6;
	transition-duration: 0.6s;
	transition-timing-function: ease;
}





/*  =======================  PREVIEW MEDIO DO PRODUTO  =======================  */
/* Caixinha dos produtos na página da loja*/

/*Container do Preview Médio do Produto*/
.produtoMedio{
	text-align: center;
	margin-bottom: 30px;
	font-family: "Gotham", sans-serif;
	transition: transform .2s; /*Animação de zoom*/
}

/*Zoom fajuto do CSS*/
.produtoMedio:hover{
  transform: scale(1.05);
	transition-timing-function: ease;
}

/*Sombra sutíl aplicada às imagens do Preview*/
.produtoMedio img{
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Romover Estilo dos links do Preview*/
.produtoMedio a{
	text-decoration: none
}

/*Nome do Produto no Preview Médio*/
.produtoNome{
	font-size: 22px;
	color: #212529;
}

/*Preço do Produto no Preview Médio*/
.produtoPreco{
	font-weight: 700;
	font-size: 28px;
	color: #0389A6;
}

/*Fazer o menu do computador sumir em telas médias ou menores*/
@media screen and (max-width: 992px){
	.sidebarComputador{
		display: none;
	}
}

/*Fazer o menu mobile sumir em telas grandes ou maiores*/
@media screen and (min-width: 992px){
	.sidebarBotao, .sidebarCelular{
		display: none;
	}
}



/*  =======================  BOTÃO "CARREGAR MAIS" =======================  */
/*Esconder itens a serem carregados*/
.content {
  display: none;
}

/*Estilo do Botão "CARREGAR MAIS"*/
#loadMore {
  width: 100%;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
	border: 0;
	border-radius: 5px;
  background-color:  #0389A6;
	font-family: gotham;
  font-weight: 500;
	margin: -10px 15px 0;
}

/*Hover do Botão "CARREGAR MAIS"*/
#loadMore:hover {
  text-decoration: none;
	background-color: #036A9A;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

/*Mensagem que aparece quando acabam os itens da página*/
.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}





/*  =======================  PÁGINA DE PRODUTO INDIVIDUAL  =======================  */

/*Container do info de PRODUTO*/
.produto{
  padding: 40px 0 10px;
}

/*Ícone do Designer que aparece na página de produto*/
.iconeDesignerMini{
  height:50px;
  border-radius: 50px;
  float:left;
  margin-right: 8px;
}

/*Fonte das informações do Produto*/
.produtoInfo{
  font-family: "Gotham", sans-serif;
}

/*Nome do produto*/
.produtoInfo h2 {
  font-weight: 500;
  font-size: 35px;
}

/*Preço do produto*/
.produtoInfo h1 {
  font-weight: 900;
  font-size: 45px;
}

/*Botão de COMPRAR*/
.produtoInfo button{
  color: white;
  border: 0;
  text-align: center;
  height: 60px;
  width: 250px;
  border-radius: 5px;
  background-color:  #0389A6;
  font-weight: 700;
  font-size: 30px;
  margin: 25px 0 50px;
}

/*Animação do botão de COMPRAR*/
.produtoInfo button:hover {
  background-color: #036A9A;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/*Nome do produto*/
.produtoInfo h2 {
  font-weight: 500;
  font-size: 35px;
}

/*Preço do produto*/
.produtoInfo h1 {
  font-weight: 900;
  font-size: 45px;
}

/*"Design por" da página de produto*/
.produtoInfo h6{
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0px;
}

/*Nome do Designer na página de produto*/
.produtoInfo h5{
  font-weight: 500;
  font-size: 30px;
}

/*Descrição do Designer  na página de produto*/
.produtoInfo p{
  line-height: 25px;
}
/*Estilo do Link para a página do Designer*/
.produtoInfo a{
  color:#212529;
  text-decoration: none;
}

/*Espaçamento entre o nome do produto e as imagens em telas de tamanho médio*/
@media screen and (max-width:992px){
  .produto h2{
    padding-top: 30px;
  }
}

/*Função de ZOOM do jQuery*/
.zoom {
  display:inline-block;
  position: relative;
}




/*  =======================  PÁGINA DE PORTFÓLIOS  =======================  */
/*Container do Mini Perfil da página de Porftólios*/
.portfoliosPerfil{
	margin-bottom: 45px;
	margin-top: 15px;
}

/*Background do Mini Perfil*/
.portfoliosBackground{
	height:160px;
	background-clip: content-box;
}

/*Foto presente no Mini Perfil*/
.portfoliosIcone{
	border-radius: 1000px;
	border-style: solid;
	border-color: white;
	border-width: 12px;
	width: 50%;
}

/*Estilo do Nome do Mini Perfil*/
.portfoliosNome{
	font-family:"Brasilero", sans-serif;
	color: #212529;
	margin-top: 7px;
	font-weight:700
}

/*Estilo da breve descrição do Mini Perfil*/
.portfoliosDescricao{
	font-family: "Gotham", sans-serif;
	color: #212529;
	font-size: 1.1rem;
}




/*  =======================  PÁGINA DE PERFIL DO DESIGNER INDIVIDUAL  =======================  */
/*Pequeno Background presente no perfil do portfólio*/
.designerBackground{
	height:160px;
	background-clip: content-box;
}

/*Foto do designer que aparece na página de perfil do portfólio*/
.designerIconeGrande{
	border-radius: 80px;
	border-color: white;
	border-style: Solid;
	border-width: 12px;
	width: 160px;
	position: relative;
	bottom: 80px;
	margin-bottom: -80px;
}

/*Nome grande que aparece na página de perfil do portfólio*/
.designerNomeGrande{
	font-weight: 700;
	font-family: "Brasilero", sans-serif;
	color: #0389A6;
	font-size: 46px;
	text-align: center;
	margin-bottom: 16px;
}

/*Gambiarra para compensar pelo "padding-top:50px" da classe "paragrafos"*/
@media screen and (min-width: 992px){
	.leoInutil{
		padding-top: 0px;
	}
	.designerNomeGrande{
		margin-bottom: 50px;
	}
}

/*Linha que divide as duas colunas*/
@media screen and (min-width: 992px){
	.designerColunaProduto{
		border-right: 2px solid #ccc;
	}
}

/*Trocar a ordem dos elementos para deixar o Perfil acima dos trabalhos do Desiger*/
@media screen and (max-width: 992px){
	.designerColunaProduto{
		order: 2;
	}
	.designerColunaPerfil{
		order:1;
	}
}
