/*COnfigurações globais*/
*{
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Subtítulos Gerais*/
.subtitulos {
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 25px;
}

/*Parágrafos Gerais*/
.paragrafos {
  font-family: "Gotham", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}





/*Classe que aumenta o espaçamento entre colunas*/
/*
.row-large-gutter {
  margin-left: -30px;
  margin-right: -30px;
}
*/
  .row-large-gutter > * {
    padding-left: 30px;
    padding-right: 30px;
  }





/*  =======================  HEADER  =======================  */
/*Container do Header*/
.navegacao {
  background-color: #161F25;
  height: 100px;
}

/*Gambiarra para fazer com que o header não seja sobreposto pelo carrossel*/
.navbar{
  z-index: 20;
}

/*Espaçamento entre os itens do header (horizontal e vertical)*/
.navegacaoLinks {
  padding-left: 30px  ;
  padding-top: 12px;
}

/*Links do Header*/
.navegacaoLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight:bold;
  font-family: "Gotham", sans-serif;
  transition: color .2s;
}

/*Transição dos links do Header com hover*/
.navegacaoLinks a:hover {
  color: #0389A6;
  transition-delay: 0.05s;
  transition-timing-function: ease;
}





/*  =======================  MAPINHA DO SITE  =======================  */
/*Container do Mapa do Site*/
.mapinha {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #D4E9F6;
  font-family: "Gotham", sans-serif;
  font-size: 15px;
}

/*Espaçamento do Mapa para alinhar-se ao conteúdo*/
.mapinha .container .row {
  padding-left: 30px;
}

/*Links do Mapinha*/
.mapaLink a {
  color: #212121;
  text-decoration: none;
  margin-top: 10px;
}

/*Setas do Mapinha*/
.mapaEspacamento{
  color: #212121;
  padding-right: 20px;
  padding-left: 20px;
  cursor: default;
}

/*Página atual do Mapinha*/
.mapaAtual{
  color: #0389A6;
  font-weight: 900;
  cursor: default;
  line-height: 24px; /*Gambiarra pra alinhar com o .mapaLink*/
}





/*  =======================  CATEGORIAS  =======================  */
/*Container das Categorias*/
.categorias{
  display:flex;
  align-items: center;
}

/*Nomes que ficam embaixo da imagem da categoria*/
.categoriasNome {
  font-family: "Brasilero 2018 Free", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}






/*  =======================  GALERIA DE PRODUTOS  =======================  */
/*Elementos da Galeria de produtos (Feito com Flickity) */

/*Background da Galeria*/
.gallery {
  background-image: url("imagens/assets/fundoDADA.png");
}

/*Tamanho e espaçamento de cada item da Galeria*/
.gallery-cell {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin: 20px;
}

/*Drop-Shadow dos produtos da Galeria*/
.gallery-cell img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*CUSTOMIZAÇÃO DOS CONTROLES*/
/*Círculo atrás do botão de "próximo"*/
.flickity-prev-next-button {
  background: transparent;
}
/*Cor da seta*/
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button:disabled {
  display: none;
}
/*Bolinhas do slide atual*/
.flickity-page-dots .dot {
  opacity: 0;
  background: transparent;
}





/*  =======================  PREVIEW MINI DO PRODUTO  =======================  */
/* Caixinha dos produtos utilzado dos carrosseis do flickity (código acima)*/

/*Tirar a decoração dos links dentro da caixinha de Preço/Nome*/
.produtoMini a{
  text-decoration: none;
}

/*Transição para fazer a caixinha aparecer com hover*/
.produtoMini:hover .invisivel {
  visibility: visible;
  opacity: 0.75;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*Caixinha com nome e preço dos produtos no Preview Pequeno*/
.invisivel {
  height: 80px;
  width: 250px;
  color: white;
  background: rgba(3, 72, 114);
  visibility: hidden;
  opacity: 0;
  font-family: "Gotham", sans-serif;
  font-style: normal;
  text-align: center;
  position: relative;
  margin: 0;
  bottom: 80px;
}

/*Nome do Produto na caixinha*/
.invisivelNome {
  font-weight: 300;
  font-size: 20px;
  padding-top: 6px;
}

/*Preço do Produto na caixinha*/
.invisivelPreco {
  padding-top: 0;
  font-weight: bold;
  font-size: 24px;
}



/*  =======================  LINK PARA A PÁGINA DE "COLABORE"  =======================  */
/*Container da Caixinha de "VENHA SER DADA"*/
.colaboreAnuncio {
  margin-top: 60px;
}





/*  =======================  FOOTER  =======================  */
/*Container do FOOTER*/
.footer {
  background-color: #161F25;
  margin-top: 60px;
  padding-top: 50px;
  color:white;
}

/*Espaçamento entre as colunas do Footer quando empilhadas horizontalmente*/
.itemFooter{
  padding-bottom: 50px;
}

/*Títulos do Footer*/
.footerLetraMaior{
  font-family: Populaire, sans-serif;
  font-style: normal;
  font-size: 32px;
  color: white;
  margin-bottom: 6px;
}

/*Texto pequeno do Footer*/
.footerLetraMenor p, .footerLetraMenor a{
  font-family: "Gotham", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  color: white;
  margin-block-end: 0;
  margin-block-start: 0;
}

/*Espaçamento entre cada link do Footer*/
.footerLink{
  margin-bottom: 13px;
}

/*Espaçamento entre os ícones e os links*/
.footerLink a {
  padding-left: 8px;
}





/*  =======================  FORMULÁRIO DO FOOTER  =======================  */
/*Caixa de texto do formulário*/
.caixinha{
  border: 0;
  width: 75%;
  height: 20px;
  padding: 0 12px;
  font-size: 13px;
  text-align: left;
  color: black;
  border-radius: 5px;
	font-family: "Gotham", sans-serif;
  margin-bottom: 5px;
}

/*Botão de cadastro do formulário*/
.botaozinho{
  border: 0;
  height: 25px;
  width: 75%;
  font-size: 13px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color:  #0389A6;
	font-family: "Gotham" sans-serif;
  font-weight: 600;
}
.botaozinho:hover {
  background-color: #036A9A;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}













/*  =======================  PÁGINA DE PRODUTO INDIVIDUAL  =======================  */

/*Container do info de PRODUTO*/
.produto{
  padding: 40px 0 10px;
}

/*Ícone do Designer que aparece na página de produto*/
.iconeDesignerMini{
  height:50px;
  border-radius: 50px;
  float:left;
  margin-right: 8px;
}

/*Fonte das informações do Produto*/
.produtoInfo{
  font-family: "Gotham", sans-serif;
}

/*Nome do produto*/
.produtoInfo h2 {
  font-weight: 500;
  font-size: 35px;
}

/*Preço do produto*/
.produtoInfo h1 {
  font-weight: 900;
  font-size: 45px;
}

/*Botão de COMPRAR*/
.produtoInfo button{
  color: white;
  border: 0;
  text-align: center;
  height: 60px;
  width: 250px;
  border-radius: 5px;
  background-color:  #0389A6;
  font-weight: bold;
  font-size: 30px;
  margin: 25px 0 50px;
}

/*Animação do botão de COMPRAR*/
.produtoInfo button:hover {
  background-color: #036A9A;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

/*Nome do produto*/
.produtoInfo h2 {
  font-weight: 500;
  font-size: 35px;
}

/*Preço do produto*/
.produtoInfo h1 {
  font-weight: 900;
  font-size: 45px;
}

/*"Design por" da página de produto*/
.produtoInfo h6{
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0px;
}

/*Nome do Designer na página de produto*/
.produtoInfo h5{
  font-weight: 500;
  font-size: 30px;
}

/*Descrição do Designer  na página de produto*/
.produtoInfo p{
  line-height: 25px;
}
/*Estilo do Link para a página do Designer*/
.produtoInfo a{
  color:#212529;
  text-decoration: none;
}

/*Espaçamento entre o nome do produto e as imagens em telas de tamanho médio*/
@media screen and (max-width:992px){
.produto h2{
  padding-top: 30px;
}

/*Função de ZOOM do jQuery*/
.zoom {
  display:inline-block;
  position: relative;
}


.slider-nav .box, .slider-nav .box {
  background-color: #0389A6;
}
