/*Subtítulos Gerais*/
.subtitulos {
  font-family: Gotham, sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 25px;
}


/*Classe que aumenta o espaçamento entre colunas para 40px (default do bootstrap é 30px)*/
/*
.row-large-gutter {
  margin-left: -40px;
  margin-right: -40px;
}
*/
  .row-large-gutter > * {
    padding-left: 40px;
    padding-right: 40px;
  }





/*Container do HEADER*/
.navegacao {
  background-color: #161F25;
  height: 100px;
}

/*Gambiarra para fazer com que o header não seja sobreposto pelo carrossel*/
.navbar{
  z-index: 20;
}

/*Espaçamento entre os itens do header (horizontal e vertical)*/
.navegacaoLinks {
  padding-left: 30px  ;
  padding-top: 12px;
}

/*Links do Header*/
.navegacaoLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight:bold;
  font-family: Gotham, sans-serif;
}

/*Transição dos links do Header com hover*/
.navegacaoLinks a:hover {
  color: #0389A6;
  transition-delay: 0.05s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}




/*Container do MAPA DO SITE*/
.mapinha {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #D4E9F6;
  font-family: Gotham, sans-serif;
  font-size: 15px;
}

/*Espaçamento do Mapa para alinhar-se ao conteúdo*/
.mapinha .container .row {
  padding-left: 30px;
}

/*Links do Mapinha*/
.mapaLink a {
  color: #212121;
  text-decoration: none;
  margin-top: 10px;
}

/*Setas do Mapinha*/
.mapaEspacamento{
  color: #212121;
  padding-right: 20px;
  padding-left: 20px;
  cursor: default;
}

/*Página atual do Mapinha*/
.mapaAtual{
  color: #0389A6;
  font-weight: 900;
  cursor: default;
}




/*Container das CATEGORIAS*/
.categorias{
  display:flex;
  align-items: center;
}

/*Nomes que ficam embaixo da imagem da categoria*/
.categoriasNome {
  font-family: "Brasilero 2018 Free", sans-serif;
  font-size: 23px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}





/*Elementos da Galeria de produtos (Feito com Flickity) */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Background da Galeria*/
.gallery {
  background-image: url("imagens/assets/fundoDADA.png");
}

/*Tamanho e espaçamento de cada item da Galeria*/
.gallery-cell {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin: 20px;
}

/*Drop-Shadow dos produtos da Galeria*/
.gallery-cell img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*CUSTOMIZAÇÃO DOS CONTROLES*/
/*Círculo atrás do botão de "próximo"*/
.flickity-prev-next-button {
  background: transparent;
}
/*Cor da seta*/
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
.flickity-prev-next-button:disabled {
  display: none;
}
/*Bolinhas do slide atual*/
.flickity-page-dots .dot {
  opacity: 0;
  background: transparent;
}




/*Transição para fazer a caixinha aparecer com hover*/
.produtoMini:hover .invisivel {
  visibility: visible;
  opacity: 0.75;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

/*Caixinha com nome e preço dos produtos no Preview Pequeno*/
.invisivel {
  height: 80px;
  width: 250px;
  color: white;
  background: rgba(3, 72, 114);
  visibility: hidden;
  opacity: 0;
  font-family: Gotham, sans-serif;
  font-style: normal;
  text-align: center;
  position: relative;
  margin: 0;
  bottom: 80px;
}

/*Nome do Produto na caixinha*/
.invisivelNome {
  font-weight: 300;
  font-size: 20px;
  padding-top: 6px;
}

/*Preço do Produto na caixinha*/
.invisivelPreco {
  padding-top: 0;
  font-weight: bold;
  font-size: 24px;
}




/*Container da Caixinha de "VENHA SER DADA"*/
.colaboreAnuncio {
  height: 175px;
  background-color: #0389A6;
  margin-top: 50px;
  margin-bottom: 50px;
}




/*Container do FOOTER*/
.footer {
  background-color: #161F25;
  height: 270px;
}
